@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="display-4">Welcome Fahim for the V2 this is staging 1 I am a human</p>
    <h1 class="display-4">Welcome Fahim for the V2 this is staging 2</h1>
     <img src="https://storageaccountforimage.blob.core.windows.net/faraj/IMG_20241208_143145.jpg" alt="Example Image" width="500">
</div>
