@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="display-4">Welcome Fahim for the V2 this is staging 1</p>
    <h1 class="display-4">Welcome Fahim for the V2 this is staging 2</h1>
     <img src="https://storagesccountforwebapp.blob.core.windows.net/mycontainer/IMG_20241208_143145.jpg" alt="Example Image" width="500">
</div>
